In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
data=pd.read_csv("winequality-red.csv")
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [13]:
x=data.iloc[:,:-2]
x.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56

In [14]:
y=data.iloc[:,-2:-1]
y.head()

   alcohol
0      9.4
1      9.8
2      9.8
3      9.8
4      9.4

In [25]:
# import warnings
# warnings.filterwarnings("ignore", category=FutureWarning)

In [36]:
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression as lr
# from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,explained_variance_score
xtrain,xtest,ytrain,ytest=tts(x,y,test_size=0.2,random_state=2)
l=lr()
l.fit(xtrain,ytrain)
ypred=l.predict(xtest)
print("coefficient -M: ",l.coef_)
print("\nIntercept - C: ",l.intercept_)
print("\nMean Squared error :",mean_squared_error(ytest,ypred))
print("\nMean Absolut error :",mean_absolute_error(ytest,ypred))
print("\nRMSE :",np.sqrt(mean_squared_error(ytest,ypred)))
print("\nR Square :",r2_score(ytest,ypred))
print("\nVariance Score :",explained_variance_score(ytest,ypred))

coefficient -M:  [[ 5.13122647e-01  4.18284704e-01  8.91957922e-01  2.86462098e-01
  -1.62816682e+00 -2.11272783e-03 -2.77275779e-03 -6.14348918e+02
   3.64049233e+00  1.27065128e+00]]

Intercept - C:  [604.72481526]

Mean Squared error : 0.38133129899048246

Mean Absolut error : 0.4645450506459442

RMSE : 0.6175202822502938

R Square : 0.6803433884608312

Variance Score : 0.6806954965722709

In [37]:
from sklearn.preprocessing import PolynomialFeatures as pf
from sklearn.linear_model import LinearRegression as lr
poly_fe=pf(degree=2)
x_poly=poly_fe.fit_transform(xtrain)
y_poly=poly_fe.fit_transform(ytrain)
poly_reg=lr()
poly_reg.fit(x_poly,ytrain)
print("coefficient -M: ",poly_reg.coef_)
print("\nIntercept - C: ",poly_reg.intercept_)
print("\nMean Squared error :",mean_squared_error(ytest,ypred))
print("\nMean Absolut error :",mean_absolute_error(ytest,ypred))
print("\nRMSE :",np.sqrt(mean_squared_error(ytest,ypred)))
print("\nR Square :",r2_score(ytest,ypred))
print("\nVariance Score :",explained_variance_score(ytest,ypred))

coefficient -M:  [[-2.51878382e-03  1.57272077e-01 -2.25307363e+02 -1.02566344e+02
   5.96279012e+00  3.44035582e+02 -4.52583858e+00  1.36996825e-01
  -6.53227654e+04  1.51599795e+02  2.10414732e+02 -2.07814590e-02
   3.91501223e-01 -1.38677013e-01  3.14297867e-02 -7.53125713e-02
  -7.28864654e-03  3.83385433e-04  1.87444480e-01  7.90016554e-02
   1.20057990e-01 -1.92871096e-01 -4.04283860e-01 -4.88717523e-01
  -9.00369069e+00  1.49001807e-02 -5.99396013e-03  2.18284623e+02
   1.80703966e+00  1.70403826e+00  1.39197284e+00 -9.35906202e-02
  -8.55170484e+00  1.19955672e-02 -1.42889988e-02  1.09899181e+02
  -1.56929019e+00  1.46565358e+00 -3.74435684e-02  8.37226493e-01
  -2.03918037e-03  6.42490359e-05 -7.01719834e+00  5.29040740e-01
  -1.13445243e-01  8.59552095e-01  1.16550758e-02 -2.05313921e-02
  -3.17845922e+02 -6.40898548e+00 -6.60164183e-01  4.54202881e-04
  -3.41501842e-04  4.71362709e+00 -3.80199857e-02  1.39018789e-02
   4.61438274e-05 -1.30641570e-01 -3.71872737e-03  1.20573030e-02
   3.27119444e+04 -1.53556725e+02 -2.13579358e+02  4.38734014e-01
   9.29911743e-01 -1.33066083e+00]]

Intercept - C:  [32614.15640543]

Mean Squared error : 0.38133129899048246

Mean Absolut error : 0.4645450506459442

RMSE : 0.6175202822502938

R Square : 0.6803433884608312

Variance Score : 0.6806954965722709

In [35]:
# pip install scikit-learn==1.1.3

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# import sklearn
from sklearn.datasets import load_boston as l
from sklearn.linear_model import LinearRegression,Ridge,Lasso
b=l()
df=pd.DataFrame(b.data,columns=b.feature_names)
df['price']=b.target

In [22]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9